#panel1 {
    padding:20px;
}

.panel-body:not(.two-col) {
    padding: 0px;
}

.panel-body .radio, .panel-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    /*border-top: 0px solid #ddd!important;*/

    padding-bottom: 0px;
    padding-top: 0px;
}
.table-form{
    height: auto;
    display: inline-block;
    background: #DAD8D8;
    width: 100%;
    padding: 0px;
    border-radius: 5px;

}
.box-check-multi .table-form{
    background: #F5F5F5;
}
.table {
    margin-top: 5px;
    margin-bottom: 0px;
}
/*.table .form-control {
    height: 27px;
}*/

.box-check-multi div label{
    padding-right: 30px;
}
.box-content{
    background: #f5f5f5;
    padding: 10px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 10px;
}
.panel-footer {
    background: #DAD8D8;
    border-radius: 5px;
}

.radioButtondemoBasicUsage body {
    padding: 20px; }

.radioButtondemoBasicUsage hr {
    margin-left: -20px;
    opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
    width: 150px; }

.radioButtondemoBasicUsage p:last-child {
    padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
    padding-left: 20px; }

.radioButtondemoBasicUsage .radioValue {
    margin-left: 5px;
    color: #0f9d58;
    font-weight: bold;
    padding: 5px; }

.radioButtondemoBasicUsage md-icon {
    margin: 20px;
    margin-top: 0;
    width: 128px;
    height: 128px; }

.radioButtondemoBasicUsage .ipsum {
    color: saddlebrown;
    font-size: 0.9em; }

.readmore-link a.tooltip{
    opacity: 1!important;
    display: inline-block!important;
    cursor: pointer;
    color: #337ab7;
    padding-left: 10px;
    z-index: 1035;
    font-size: 12px;
}
.support-popup {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 89px;
    line-height: 19px;
    padding: 0px 5px;
    background: red;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    /* display: none; */
}
.panel-heading {
    position: relative;
    padding-right: 100px;
    background: #cbdce2 !important;
}
.modal-body {
    display: inline-block;
}
table.table-striped >tbody >tr >td, table.table-support>tbody>tr>td {
    padding: 5px;
    /* padding-left: 10px!important; */
}
table.table-support>tbody>tr:nth-child(2) >td {
    width: 20%;
    text-align: center;
    font-weight: bold;
}
table.table-support>tbody>tr:nth-child(3) >td {
    font-weight: bold;
    color: red;
    text-align: center;
}
.note-survey {
    width:    606px;;

    min-height: 45px;
}
.emo-resize{
    width: 20px;
}
._md-label{
    margin-top: 4px !important;
}
.ketchup{
    display: block;
    font-weight: bold;
    color: black !important;
}
.ketchup md-radio-button
{
    font-weight: 400 !important;
}
.table-me{
    /*font-size: 12px;*/
}
.none-pad, .panel-title{
    /*font-size: 12px;*/
}
.header-h3-me{
    /*font-size: 12px;*/
    font-weight: bold;
}
input{
    /*height: 24px !important;*/
}
.md-button.md-fab.md-fab-top-left {
    opacity:0.7
}

.form-group {
    margin-bottom: 5px;
}


.md-dialog-content{
    white-space: pre-line !important;
}
.tooltip-self{
    opacity: 1!important;
    display: inline-block!important;
    cursor: context-menu;
    color: #337ab7;
    padding-left: 10px;
    z-index: 1035;
    /*    font-size: 12px;*/
    text-decoration: none !important;
}

._md-text
{
    font-size: 12px !important;
}
.eva-score-answer{
    font-weight: 900;
}
input.form-control{
    /*font-size: 11px;*/
    padding: 3px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px;
}
.question-title
{
    font-weight: bold;
}
.table-me tr td{
    font-size: 11px;
}
.eva-score-answer span
{
    width: 150px;
}
.md-dialog-content{
    margin-top: 24px;
}
md-checkbox{
    margin-bottom: 0px !important;
}
input{
    color: black !important;
}
table {
    /*font-size: 11px !important;*/
}
body{
    font-family: Arial,Tahoma,Veranda;
}
md-checkbox {
    padding-bottom: 6px;
}
md-select
{
    height: 46px;
    border: 1px solid rgb(169, 169, 169);
    padding: 0px !important;
}
/*
.panel-body div{
    font-size: 12px;
}*/

/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/


.ng-scope .panel {
    margin-bottom: 5px;
}
.wrapbox{
    height: auto;
    display: inline-block;
    background: #DAD8D8;
    border-radius: 4px;
    margin: 5px 0px;
    padding-bottom: 5px;
}
#cnt1{
    background: #e1e8eb;
}
.box-content>div>.col-xs-12.none-pad{
    padding-left: 0px;
    padding-right: 0px;
}
.ng-scope .panel-body {
    padding: 0px;
}
.table-me button.md-raised.md-warn{
    float: right;
    margin-right: 0px;
}
.panel-footer {
    border-top: 0px solid #ddd; 
    padding-left: 0px;
    padding-right: 0px;
}
.pdd-wrap{
    padding: 15px 15px 0px 15px;
    margin-top: 0px;
}
.box-select-box>div:first-child, .box-info>div:first-child{
    padding: 0px;
}
md-radio-button ._md-container {
    top: 0px!important;
    height: 0px!important;
}
md-dialog .md-dialog-content {
    padding: 0px 24px!important;
}
.app-modal-window .modal-dialog {
    width: 500px;
}
.md-datepicker-input-container{
    width: 78%;
}

.block-department{
    border: 1px solid #ccc;
    padding-top: 13px !important;
    margin-top: 6px;
    padding-left: 0px !important;
    padding-bottom: 9px !important;
}
/*md-select-value
{
    min-width: 207px !important;
}*/
md-option
{
    height: 28px !important;
}
.reason-top
{
    margin-top: 10px;
}
.note-depart{
    padding-top: 7px;
}
.reason-menu{
    margin: 0px;
    margin-top: 7px;
}
md-select-value
{
    min-height: 19px !important;
}
.question5 .col-xs-12, .question7 .col-xs-12{
    padding-bottom: 20px;
}
.question5 .col-xs-12 table, .question7 .col-xs-12 table
{
    /*border-right: 1px solid;*/
    font-size: 12px !important;
    /*border: 1px solid;*/
    /*text-align: center;*/
    width: 100%;
}
.question5 .col-xs-12 table td,.question7 .col-xs-12 table td{
    width: 268px;
    padding-left: 5px;
}
.modal-body table{
    margin-top: -80px!important;
}
.iptv tbody, .iptv thead tr{
    display: block; 
}
.iptv tbody td,.iptv thead th {
    width: 140px;
}
.iptv thead th:last-child {
    width: 156px;   
}
.group-channel .col-xs-2,.group-channel .col-xs-4
{
    padding: 0px;
}
.connectFlag .col-xs-4, .connectFlag   .col-xs-2
{
    padding: 0px;
}
.function h5
{
    font-weight: bold;
}
.ui-select-toggle
{    background-color: white !important;
     color: black !important;}
.radio-survey
{
    border-bottom: 1px solid #b3c2c6;
    padding: 6px;
}
.dropdown-multiselect, .dropdown-toggle
{
    width: 100% !important;
}
md-select{
    font-size: 80%;
}

multiselect {
    display:block;
}
multiselect .btn {
    width: 100%;
    background-color: #FFF;
}
multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}
multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}
.user-menu li a
{
    font-size: 16px;
}
.user-menu li
{
    padding: 11px;
}
.input-xlarge
{
    width: 100% !important;
}
.input-xlarge button
{
    height: 36px;
}

/*.iptv thead, .iptv tbody,.iptv tr, .iptv th, .iptv td { display: block; }
.iptv thead tr {
     fallback 
    width: 97%;
     minus scroll bar width 
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}
.iptv tr:after {   clearing float 
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.iptv tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iptv  tbody td,.iptv  thead th {
    width: 19%;   19% is less than (100% / 5 cols) = 20% 
    float: left;
}*/